.pill {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  margin-right: 10px;
  padding: 8px 12px 5px;
  border-radius: 16px;
  background-color: var(--primary-color);

  @media (min-width: 900px) {
    font-size: 14px;
  }
}

.featured {
  background-color: var(--featured-pill-color);
}